.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-weight: var(--fw-regular);
  font-size: x-large;
}
.sidebar > div {
  display: flex;
  align-items: center;
}
.sidebar > div > span {
  font-size: medium;
  margin-left: 10px;
}
.sidebar > div:nth-child(1) {
  font-weight: var(--fw-bold);
}
