@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --accent-color: #4f46e5;
  --tab-accent-color: #3830a379;
  --secondary-accent-color: white;

  --primary-text-color: #09090b;
  --secondary-text-color: #a1a1aa;
  --dangerous-text-color: #991b1b;

  --fw-regular: 400;
  --fw-bold: 700;
}
html{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
}